<blockquote class="blockquote mt-2">
      <p><%= comment.body %></p>
      <footer class="blockquote-footer"><%= comment.commenter %></footer>
</blockquote>
<div>
  <%= link_to 'Delete', [comment.article, comment], 
        method: :delete,
        class: "btn btn-sm btn-danger",
        data: { confirm: 'Are you sure?' } %>
</div>
